#game-serving-header {
  margin: 0;
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.serving-gauge-label {
  font-family: "Ownglyph_ParkDaHyun";
  font-size: 20px;
  text-shadow: 1px 2px rgba(141, 141, 141, 0.7);
}