@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("./modular.css");
@import url("./fonts.css");
@import url("./title.css");

html, body, .container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

.container {
  background-color: black;
}

p {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 100;
  transition: all 0.2s ease-in-out;
}
i {
  margin: 0;
  padding: 0;
  color: rgb(185, 185, 185);
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 200;
}
.textnatural {
  font-size: 16px;
  font-weight: 400;
}
.mindtext {
  color: rgb(214, 214, 214);
  font-weight: 200;
}

button {
  margin: 0;
  padding: 6px 25px;
  width: 255px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 16px;
  color: white;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 200;
  transition: all 0.2s ease-in-out;
}
button:hover {
  width: 280px;
  background-color: rgba(255, 255, 255, 0.24);
}
button:active {
  width: 315px;
  background-color: rgba(255, 255, 255, 0.336);
}
button:disabled {
  width: 255px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(133, 133, 133);
  border: 1px solid rgb(163, 163, 163);
}

.imgcontainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 84%;
  overflow: hidden;
}
.imgcontainer img {
  width: auto;
  height: 100%;
  object-fit: cover;
  display: block;
}
.imgcontainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
  pointer-events: none;
}

#title-screen, #cinematic, #game-serving {
  margin: 0;
  padding: 0;
  transition: all 0.6s ease-out;
}

#textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 28vh;
  background: transparent;
  overflow: hidden;
}
#textbox:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 95%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}
#dm {
  position: relative;
  text-align: center;
  margin-top: 0px;
  z-index: 1;
}
#cinematicskip {
  margin: 4px;
  padding: 6px 14px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  top: 0;
  left: 0;
  font-size: 14px;
  z-index: 99;
}
#game-serving {
  width: 384px;
  height: 100vh;
}
#game-serving-container::before {
  content: '';
  position: absolute;
  width: 384px;
  height: 100%;
  background-image: url("/image/serving.webp");
  background-position: top;
  background-size: 384px 100% contain;
  background-repeat: no-repeat;
  filter: blur(4px) brightness(70%);
  -webkit-filter: blur(4px) brightness(70%);
}
.game-serving-content  {
  width: 100%;
}
#game-serving-header {
  margin: 0;
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
#uitimelabel {
  background: rgba(255, 255, 255, 0.07);
  margin-top: 11px;
  margin: 0;
  padding: 6px 10px;
  border-radius: 16px;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.2), inset -1px -1px 2px rgba(0, 0, 0, 0.2), 1px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  text-align: start;
}
#uidatelabel {
  font-family: "Ownglyph_ParkDaHyun";
  font-size: 24px;
  color: #f5f5f5;
  text-align: center;
  width: 100%;
}
#uiclocklabel {
  font-family: "Ownglyph_ParkDaHyun";
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  width: 100%;
}
#uisplabelcover {
  background-color: white;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0));
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
#uisplabel {
  background-image: linear-gradient(145deg, #a5d4e5, #529dc6);
  filter: drop-shadow(-3px -3px 6px rgba(255, 255, 255, 0.5)) drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.2));
  width: 52px;
  height: 52px;
  border-radius: 50%;
  font-family: "Ownglyph_ParkDaHyun";
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 2px rgba(141, 141, 141, 0.7);
  transition: all 1.2 ease-in-out;
}
#uiptlabelcover {
  background-color: white;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0));
  width: 76px;
  height: 76px;
  border-radius: 50%;
}
#uiptlabel {
  background-image: linear-gradient(145deg, #f7a6b3, #ea4c89);
  filter: drop-shadow(-3px -3px 6px rgba(255, 255, 255, 0.5)) drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.2));
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-family: "Ownglyph_ParkDaHyun";
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 2px rgba(141, 141, 141, 0.7);
}
.questwindow {
  margin-top: 11px;
  padding: 6px;
  background: rgba(114, 114, 114, 0.07);
  border-radius: 16px;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.2), inset -1px -1px 2px rgba(0, 0, 0, 0.2), 1px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  width: 172px;
  transition: all 0.6s ease-out;
}
.questwindow-type, .questwindow-title, .questwindow-desc {
  font-family: "Ownglyph_ParkDaHyun";
}
.questwindow-type {
  color: yellow;
}
.questwindow-title {
  color: white;
  font-size: 24px;
}
.questwindow-desc {
  color: rgba(255, 255, 255, 0.6);
}
#game-serving-body {
  margin-top: 16px;
  gap: 8px;
}
.servingitemrow {
  gap: 8px;
}
.servingitem-hide {
  width: 52px;
  height: 52px;
  background-color: rgba(0, 0, 0, 0);
}
.servingitem-hide:hover {
  width: 52px;
  height: 52px;
  background-color: rgba(0, 0, 0, 0);
}
.servingitem-hide:active {
  width: 52px;
  height: 52px;
  background-color: rgba(0, 0, 0, 0);
}
.servingitem {
  width: 52px;
  height: 52px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.2), inset -1px -1px 2px rgba(0, 0, 0, 0.2), 1px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  border-radius: 24px;
  transition: all 0.4s ease-out;
}
.servingitem:hover {
  width: 52px;
  height: 52px;
  background: rgba(255, 255, 255, 0.3);
}
.servingitem:active {
  width: 52px;
  height: 52px;
  background: rgba(255, 255, 255, 0.5);
}
#game-serving-footer {
  position: absolute;
  bottom: 16px;
}
#uiturnlabel {
  font-family: "Ownglyph_ParkDaHyun";
  font-size: 28px;
  color: #f5f5f5;
}

@keyframes smoothFade {
  0%   { color:#ffffff; }
  20%  { color:#ffffff; }
  50%  { color:#a0a0a0; }
  100% { color:#ffffff; }
  100% { color:#ffffff; }
}
.plzpress {
  animation: smoothFade 1.6s ease-in-out infinite;
  font-weight: 200;
}

.closed {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}